@{
    ViewData["Title"] = "BookManagement";
}

<h1>BookManagement</h1>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <div class="flex-row bd-highlight mb-3 justify-content-sm-center">
        <a class="btn btn-outline-primary" asp-action="Index">Display Book List</a>

        <a class="btn btn-outline-primary" asp-action="Search">Search Book</a>

        <a class="btn btn-outline-primary" asp-action="Create">Add New Book</a>

        <a class="btn btn-outline-primary" asp-action="IndexEdit">Edit Book</a>

        <a class="btn btn-outline-primary" asp-action="IndexDelete">Delete Book</a>
    </div>
</div>