@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Suryavanshi Library Management System</h1>
    <p>Explore <a href="https://suryavanshi-library-suryavanshi-tower-shriram.business.site/">Here</a>.</p>
</div>
