@{
    ViewData["Title"] = "AuthorManagement";
}

<h1>AuthorManagement</h1>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <div class="flex-row bd-highlight mb-3 justify-content-sm-center">
        <a class="btn btn-outline-primary" asp-action="Index">Author List</a>

        <a class="btn btn-outline-primary" asp-action="Create">Add New Author</a>

        <a class="btn btn-outline-primary" asp-action="IndexEdit">Edit Author</a>

        <a class="btn btn-outline-primary" asp-action="IndexDelete">Delete Author</a>
    </div>
</div>