
@{
    ViewData["Title"] = "PublisherManagement";
}

<h1>PublisherManagement</h1>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <div class="flex-row bd-highlight mb-3 justify-content-sm-center">
        <a class="btn btn-outline-primary" asp-action="Create">Create Publisher</a>

        <a class="btn btn-outline-primary" asp-action="Index">Read Publisher</a>

        <a class="btn btn-outline-primary" asp-action="IndexEdit">Update Publisher</a>

        <a class="btn btn-outline-primary" asp-action="IndexDelete">Delete Publisher</a>
    </div>
</div>