@{
    ViewData["Title"] = "CustomerManagement";
}

<h1>CustomerManagement</h1>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <div class="flex-row bd-highlight mb-3 justify-content-sm-center">
        <a class="btn btn-outline-primary" asp-action="Index">Display Customers List</a>

        <a class="btn btn-outline-primary" asp-action="Search">Search Customer</a>

        <a class="btn btn-outline-primary" asp-action="Create">Add New Customer</a>

        <a class="btn btn-outline-primary" asp-action="Index">Edit Customer</a>

        <a class="btn btn-outline-primary" asp-action="Index">Delete Customer</a>
    </div>
</div>